@use './functions.scss' as funcs;
@use './mixins.scss' as mixins;
@use './colors.scss' as colors;
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    line-height: 1.5;
    font-family: 'Karla',
    sans-serif;
    @include mixins.flexer(center, center);
    background: colors.$light-gray;
}
a,
a:visited,
a:focus {
    text-decoration: none;
    color: unset;
    cursor: pointer;
    @include mixins.flexer(center, center);
    border-radius: funcs.rem(8);
    font-weight: 700;
    margin-top: funcs.rem(15);
    width: funcs.rem(239);
    height: funcs.rem(51);
    background: colors.$bright-yellow;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    color: colors.$cyan;
}
