@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1.5;
  font-family: "Karla", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: #e5eff5;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 0.5rem;
  font-weight: 700;
  margin-top: 0.9375rem;
  width: 14.9375rem;
  height: 3.1875rem;
  background: #c0df34;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  color: #2ab2af;
}

.card {
  background: red;
  min-width: 19.5rem;
  max-width: 39.8125rem;
  width: 100%;
  height: 29.8125rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19.5rem, 1fr));
  grid-template-rows: 13.625rem 1fr;
  margin: 2rem;
  border-radius: 0.5625rem;
  overflow: hidden;
}
.card > * {
  min-width: 19.5rem;
  width: 100%;
  padding-left: 2.5rem;
}
.card_join {
  grid-column: 1/span 2;
  background: #fff;
  padding: 2.9375rem 0 2.9375rem 2.5rem;
}
.card_join h2 {
  color: #c0df34;
  margin-top: 0.625rem;
  margin-bottom: 1.125rem;
}
.card_join p {
  font-size: 0.9375rem;
  color: #98a6bd;
}
.card_subs {
  padding-top: 2.5625rem;
  padding-bottom: 2.5625rem;
  color: #fff;
  grid-row: 2;
  background: #2ab2af;
}
.card_subs .price_container {
  display: flex;
  align-items: center;
}
.card_subs .price_container .price {
  font-size: 1.875rem;
}
.card_subs .price_container .month {
  margin-left: 0.5rem;
  filter: brightness(0.8);
}
.card_why {
  padding-top: 2.5625rem;
  padding-bottom: 2.5625rem;
  color: #fff;
  grid-row: 2;
  background: #4ABEBD;
}
.card_why > p {
  font-size: 0.875rem;
}
.card_subtitle {
  font-size: 1.0625rem;
  margin-bottom: 0.5rem;
}
.card_info {
  margin-top: 0.3125rem;
}

@media (max-width: 690px) {
  .card {
    width: 19.5rem;
    height: auto;
    grid-template-columns: 1;
    grid-template-rows: 19.75rem repeat(2, 14.1875rem);
  }
  .card > * {
    padding-left: 1.1875rem;
    padding-right: 1.5625rem;
  }
  .card_subs {
    grid-row: 2;
  }
  .card_subs a {
    width: 16.5rem;
    height: 3rem;
  }
  .card_why {
    grid-row: 3;
    padding-top: 1.5625rem;
  }
}

/*# sourceMappingURL=style.css.map */
