@use './utils/index' as vars;

.card {
    background: red;
    min-width: vars.rem(312);
    max-width: vars.rem(637);
    width: 100%;
    height: vars.rem(477);
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(vars.rem(312), 1fr));
    grid-template-rows: vars.rem(218) 1fr;
    margin: 2rem;
    border-radius: vars.rem(9);
    overflow: hidden;

    & > * {
        min-width: vars.rem(312);
        width: 100%;
        
        padding-left: vars.rem(40);
    }

    &_join {
        grid-column: 1 / span 2;
        background: #fff;
        padding: vars.rem(47) 0 vars.rem(47) vars.rem(40);

        h2 {
            color: vars.$bright-yellow;
            margin-top: vars.rem(10);
            margin-bottom: vars.rem(18);
        }

        p {
            font-size: vars.rem(15);
            color: vars.$grayish-blue;
        }
    }

    &_subs {
        padding-top: vars.rem(41);
        padding-bottom: vars.rem(41);
        color: #fff;
        grid-row: 2;
        background: vars.$cyan;

        .price_container {
            display: flex;
            align-items: center;
            
            // background: red;

            .price {
                font-size: vars.rem(30);
            }
            .month {
                margin-left: vars.rem(8);
                filter: brightness(.8);
            }
        }
    }

    &_why {
        padding-top: vars.rem(41);
        padding-bottom: vars.rem(41);
        color: #fff;
        grid-row: 2;
        background: vars.$green;

        & > p {
            font-size: vars.rem(14);
        }
    }

    &_subtitle {
        font-size: vars.rem(17);
        margin-bottom: vars.rem(8);
    }

    &_info {
        margin-top: vars.rem(5);
    }

}

@media (max-width: 690px) {
    .card {
        width: vars.rem(312);
        height: auto;
        grid-template-columns: 1;
        grid-template-rows: vars.rem(316) repeat(2, vars.rem(227));

        & > * {
            padding-left: vars.rem(19);
            padding-right: vars.rem(25);
        }

        &_subs {
            grid-row: 2;

            a {

                width: vars.rem(264);
                height: vars.rem(48);
            }
        }

        &_why {grid-row: 3; padding-top: vars.rem(25);}
    }
}